<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="CS_Local" connectionString="data source=SATURN\SQLEXPRESS;    initial catalog=futureme;persist security info=True;     Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="CS_Product" connectionString="Server=1466319f-dbcc-4296-a8d0-a58200831993.sqlserver.sequelizer.com;Database=db1466319fdbcc4296a8d0a58200831993;User ID=liycccduzqudpaui;Password=WPJgyjCiFZMCZhLMDeBwdKccFBB6jemjGk84VFisYXFnzN5WciKEFypkLGH5PE8A;" providerName="System.Data.SqlClient" />
  <add name="FutureMeProductEntities" connectionString="metadata=res://*/Models.DatabaseModel.csdl|res://*/Models.DatabaseModel.ssdl|res://*/Models.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=1466319f-dbcc-4296-a8d0-a58200831993.sqlserver.sequelizer.com;initial catalog=db1466319fdbcc4296a8d0a58200831993;user id=liycccduzqudpaui;password=WPJgyjCiFZMCZhLMDeBwdKccFBB6jemjGk84VFisYXFnzN5WciKEFypkLGH5PE8A;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms defaultUrl="~/index.aspx" loginUrl="~/signin.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
    <xhtmlConformance
        mode="Legacy" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
