<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="CS_Local"
         connectionString="data source=SATURN\SQLEXPRESS;
   initial catalog=futureme;persist security info=True; 
   Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
    <add name="CS_Product"
         connectionString="Server=1466319f-dbcc-4296-a8d0-a58200831993.sqlserver.sequelizer.com;Database=db1466319fdbcc4296a8d0a58200831993;User ID=liycccduzqudpaui;Password=WPJgyjCiFZMCZhLMDeBwdKccFBB6jemjGk84VFisYXFnzN5WciKEFypkLGH5PE8A;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
  </appSettings>
  <system.web>
    <pages theme="ClockTheme"></pages>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
